<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-danger text-white">
		<div th:text="#{text.security.error.403.titulo}" class="card-header">Error. Acceso denegado</div>
		<div class="card-body">
			<h5 th:utext="#{text.security.error.403.permiso(${#authentication.name})}" class="card-title"><span th:text="${#authentication.name}"></span>, NO tienes permisos para acceder a esta página</h5>
			<a th:text="#{text.security.error.403.volver}" th:href="@{/listar}" class="btn btn-outline-light" role="button">Ir al inicio</a>
		</div>
		</div>
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>